<h3>Search People</h3>

<form>
  <div class="form-group">
    <label for="searchParam">Name</label>
    <input type="text" class="form-control" id="searchParam"
    [(ngModel)]="searchParam" name="searchParam"
    #name="ngModel"
    required />
  </div>
  <button type="submit" class="btn btn-success" (click)="getPeople()">
    Search
  </button>
</form>

<h4 *ngIf="people && people.length <= 0">
  No one found with that name.
</h4>

<table class="table" *ngIf="people && people.length > 0">
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Name</th>
      <th>Address</th>
      <th>Age</th>
      <th>Interests</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let person of people">
      <td>
        <img style="width:50px;" src="Content/images/{{person.avatarUrl}}" title="{{person.name}}'s avatar" />
      </td>
      <td>{{person.name}}</td>
      <td>{{person.address}}</td>
      <td>{{person.age}}</td>
      <td>{{person.interests}}</td>
    </tr>
  </tbody>
</table>
